/**
 * GutenBlock Pro - Space Between Block Variant
 */

.wp-block-group.is-style-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.wp-block-group.is-style-space-between > * {
	flex: 0 0 auto;
}

/* Override vertical centering on parent column so height: 100% can take effect */
.wp-block-column:has(> .is-style-space-between) {
	align-self: stretch !important;
}
