/**
 * GutenBlock Pro - Checkmark List Block Variant
 */

ul.is-style-checkmark-list {
	list-style-type: "\2713";
}

ul.is-style-checkmark-list li {
	padding-inline-start: 1ch;
}

/* Ensure proper styling in editor */
.block-editor-block-list__layout ul.is-style-checkmark-list {
	list-style-type: "\2713";
}

.block-editor-block-list__layout ul.is-style-checkmark-list li {
	padding-inline-start: 1ch;
}
